<mat-toolbar color="blue" class="mat-flex mat-justify-between">
   <div>
     Material UI Design
   </div>
   <div>
      <a href="" class="" routerLink="pages/home" mat-flat-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home</a>
      <a href="" class="mx-2" routerLink="blog-page" mat-flat-button>Mat Components</a>
      <a href="" class="" routerLink="pages/services" mat-flat-button>Services</a>
      <a href="" class="mx-2" routerLink="pages/contactus" mat-flat-button>Contact Us</a>
      <a href="" routerLink="login" mat-flat-button> <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"></mat-icon>Login</a>
   </div>
   </mat-toolbar>
<router-outlet></router-outlet>